* {
    margin: 0;
    
}
.backgroundImage{  
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 30%;
    height: 90px; 
    margin-bottom: 10px;
}
#logo{ 
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom left 5px;
    background-size: 90%;
    height: 80px;
    width: 200px;
}

table{
    padding: 0px;
    margin: 0px;
    height: 10px;
    border: none;
    border-spacing: 0px;
}
#A1{
    width: 25%;
}

#A2{
    width: 25%;
}
.row1{
    background-color: #4ea0ff;
    text-align: left;
    color: white; 
}
.row2>td{
    color: black;
    background-color:#b1e5f2;
}
.row3>td{
    color: black;
    background-color:white;
}
.row4>td{
    color: black;
    background-color:#b1e5f2;
}

td{
    vertical-align: center;
    background-color: #b1e5f2; 
    color: white;
}

.lastColumn{
    text-align: justify;
}